h1, h2, h3 {
  color: #709061;
  font-weight: bold;
}

p {
  color: #434D3E;
}

html, body {
  margin: 0;
  height: 100%;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  color: #709061;
}

a:hover{
  color: #A1B17A;
}
