
<div class="footer">
  <div class="footer-section">
    <div class="footer-imprint"><p>© Code Challenge</p></div></div>

<!--About-->
  <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>About</p></div>
      <a href=""><p>Contact</p></a>
      <a href=""><p>Careers</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Services-->
    <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>Travelling</p></div>
      <a href=""><p>Private</p></a>
      <a href=""><p>B2B</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Invormation-->
    <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>Hosting</p></div>
      <a href=""><p>How does it work?</p></a>
      <a href=""><p>Prices</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Icons-->
  <!--<div class="footer-section">
    <div class="footer-icons">
      <div class="icons-wrapper">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook-f"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>-->
</div>
