<div class="navbar">

      <button class="light-button" data-toggle="modal" data-target="#memoryModal">Add Memory</button>


  <a href="#"><%= link_to 'Logout', destroy_user_session_path, mehtod: :delete %></a>
</div>
