<div class="navbar">

      <button class="light-button" data-toggle="modal" data-target="#memoryModal">Add Memory</button>


  <%= link_to t(".sign_out", default: "Logout"), destroy_user_session_path, method: :delete%>
</div>
