.navbar{
  height: 70px;
  width: 100%;
  background-color: #709061;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 0px 30px;
  transition: all 0.3s ease;


}

.navbar{
  a{
    color: #FFFFFF;
    display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  }
}

.new_memory{
  position: sticky;
  margin-left: 20px;
}

.navbar{
  .light-button{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #FFFFFF;
    a {
    color: #709061;
    text-decoration: none;
  }
  }
}
