.thumbnail-picture{
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px gray;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-right: 50px;

}

.thumbnail-header{
  color: gray;
  opacity: 0.4;
  font-size: 15px;
  margin-top: 15px;
}

.all-memories{
  padding-left: 15px;
}



